* {
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 20px auto;
    width: 600px;
    border: 1px solid #999;
    padding: 10px;
}

div h1 {
    text-align: center;
    color: rgb(34, 0, 228);
}

.toan {
    margin-top: 20px;
}
div span{
    text-align: right;
    display: inline-block;
    width: 255px;
}
div input[ type = text]{
    padding: 3px 5px;
}
div input[ type = submit]{
    padding: 3px 5px;
    display: block;
    margin: 20px auto ;
}
div p{
    text-align: center;
}